.header-container {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--header-height);
    width: 100%;
    background: white;
    z-index: 99;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: start;
    padding-left: 1rem;
    padding-right: 1rem;
}
@media (max-width: 768px) {
    .header-container {
        display: flex;
        max-width: 100%;
    }
}