@tailwind base;
@tailwind components;
@tailwind utilities;

span::before {
  content: attr(before);
}
span::after {
  content: attr(after);
}
:root {
  --header-height: 11vh;
  --padding-left: 1rem;
  --padding-right: 2rem;
  cursor: url('/cursor/cursor.svg'), auto;
}
b {
  font-family: 'DM Sans', serif;
}
* {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 300;
}
span {
  font-size: 2rem;
}
b {
  font-size: 1.75rem;
}
.mobile-title {
  display: none;
  font-size: 1rem;
}
@media (max-width: 768px) {
  span {
    font-size: 1.25rem;
  }
  b {
    font-size: 1rem;
  }
  .mobile-title {
    display: block;
    font-size: 1rem;
  }
}
