@tailwind base;
@tailwind components;
@tailwind utilities;

span::before {
  content: attr(before);
}
span::after {
  content: attr(after);
}
:root {
  --header-height: 11vh;
  --padding-left: 1rem;
  --padding-right: 2rem;
  --menu-links-shadow: inset 1px 1px 5px 0px rgba(255, 255, 255, 0.2),
  inset -1px -1px 5px 0px rgba(255, 255, 255, 0.2),
  1px 1px 3px 0px rgba(0, 0, 0, 0.25),
  -1px -1px 3px 0px rgba(0, 0, 0, 0.25);
  cursor: url('/cursor.svg'), auto;
}

b {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
}
* {
  font-family: 'Cormorant Garamond';
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
span {
  font-size: 2rem;
}

.mobile-title {
  display: none;
  font-size: 1rem;
}
@media (max-width: 768px) {
  span {
    font-size: 1.25rem;
  }
  b {
    font-size: 1rem;
  }
  .mobile-title {
    display: block;
    font-size: 1rem;
  }
}
